@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
/*define custom css variables*/
:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --box-shadow: 0px 0px 18px 0 #0000002c;
}
/*override custom css variables for dark theme*/
body.dark{
    --bg-black-900: #ffffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --text-black-900: #ffffff;
    --text-black-700: #ffffff;
    --text-black-600: #bbbbbb;
    --box-shadow: 0px 0px 18px 0 #faf6f61e;
}
body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}
*:not(i){
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:before,:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.btn1{
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    border-radius: 30px;
    transition: all 0.3s ease;
    align-items: center;
    border: 3px solid var(--bg-black-100);
    box-shadow: var(--box-shadow);
}
.btn1:hover{
    color: var(--text-black-900);
    background-color: var(--skin-color);
}
.btn1:after{
    border-radius: 30px;
}
.align-items-center{
    align-items: center;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}
.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div{
    width: 3px;
    height: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}
.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}
.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d796;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}
.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d796;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}
.effect-5{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}
.effect-5 div{
    width: 1px;
    background-color: #4dd0e1;
}
.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
}
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    background-color: var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fade-out{
    opacity: 0;
    transition: all 1.2s ease;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preloader .box div{
    height: 15px;
    width: 15px;
    background-color: var(--skin-color);
    border-radius: 50%;
    animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
}
.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
}
.brand a{
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--skin-color);
}
#header{
    padding: 0px 15px;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    /*background-color: rgba(31, 30, 30, 0.24);*/
    transition: .1s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: var(--bg-black-50);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--text-black-700);
    font-size: 3.5rem;
    letter-spacing: 30px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid var(--bg-black-900);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;    
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid var(--bg-black-900);
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: var(--bg-black-900);
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--bg-black-900);
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/*home start*/
.home-section{
    position: relative;
}
.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    min-width: 50%;
    padding: 0 15px;
}
.home-section .home-text p{
    color: var(--text-black-900);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}
.home-section .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
}
.home-section .home-text h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-600);
    margin: 0;
}
.home-section .home-img .img-box{
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}
.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
   box-shadow: var(--box-shadow);
}
/*home end*/
/*about section start*/
.about-section{
    padding: 80px 0 0;
    min-height: 100vh;
}
.about-section .about-img{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}
.about-section .about-img .img-box{
    padding: 15px;
    border-radius: 5px;
}
.about-section .about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}
.about-section .about-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}
.about-section .about-info p{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-700);
}
.about-section .about-info span{
    font-weight: 700;
}
.about-section .about-info .social-links a{
    padding: 5px 10px;
}
.about-section .about-info .social-links a:hover{
    color: var(--bg-black-900);
}
/*about section end*/
/*about-tabs section start*/
.about-section .about-tabs{
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.about-section .about-tabs .tab-item{
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.3s ease;
    font-size: 16px;
    color: var(--text-black-900);
    font-weight: 900;
    text-transform: uppercase;
    border: 3px solid var(--bg-black-100);
    box-shadow: var(--box-shadow);
    border-radius: 30px;
}
.about-section .about-tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}
.about-section .about-tabs .tab-item.active{
    color: var(--skin-color);
}
.about-section .tab-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}
.about-section .tab-content.active{
    display: block;
    animation: fadeInTop 0.5s ease;
}
.about-section .skills{
    padding: 0 0 40px;
}
.about-section .skills .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
}
.about-section .skills .skill-item p{
    font-size: 16px;
    color: var(--text-black-900);
    margin: 0 0 10px;
}
.about-section .skills .skill-item .progress{
   border: 1px solid var(--text-black-600);
   box-shadow: var(--box-shadow);
    height: 7px;
    border-radius: 8px;
    position: relative;
}
.about-section .skills .skill-item .progress-bar{
    background-color: var(--text-black-600);
    height: 5px;
    position: absolute;
    border-radius: 8px;
}
.about-section .skills .skill-item .progress-bar span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-900);
    margin-top: -40px;
}
.about-section .favourites,
.about-section .education{
    padding-bottom: 80px;
}
.about-section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about-section .timeline:before{
    content: '';
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: var(--bg-black-100);
    position: absolute;
}
.about-section .timeline .timeline-item{
    
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
} 
.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right; 
}
.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner{
    padding: 30px;
    border-radius: 30px;
    border: 3px solid var(--bg-black-100);
    box-shadow: var(--box-shadow);
    position: relative;
}
.about-section .timeline .timeline-item-inner:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}
.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
    right: -30px;
}
.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
    left: -30px;
}
.about-section .timeline .timeline-item-inner .icon{
    height: 40px;
    width: 40px;
    background-color: var(--bg-black-50);
    border: 1px solid var(--bg-black-100);
    border-radius: 50%;
    font-size: 16px;
    color: var(--skin-color);
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 18px;
}
.about-section .timeline .timeline-item:nth-child(odd) .icon{
    right: -70px;
}
.about-section .timeline .timeline-item:nth-child(even) .icon{
    left: -70px;
}
.about-section .timeline .timeline-item-inner span{
    font-weight: 900;
    color: var(--skin-color);
    display: block;
    margin: 0 0 10px;
}
.about-section .timeline .timeline-item-inner h3{
    font-size: 20px;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
}
.about-section .timeline .timeline-item-inner h4{
    font-size: 16px;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}
.about-section .timeline .timeline-item-inner p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 15px 0 0;
}
/*about-tabs section end*/
/*contact section start*/
.contact-section{
    padding: 80px 0 80px;
    min-height: 100vh;
    
}
.contact-section .contact-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
}
.contact-section .contact-item-inner{
    padding: 30px 15px;
    text-align: center;
    border: 3px solid var(--bg-black-100);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    width: 100%;
}
.contact-section .contact-item-inner i{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-section .contact-item-inner span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 10px 0 5px;
}
.contact-section .contact-item-inner p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}
.contact-section .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact-section .w-50{
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
}
.contact-section .input-group{
    margin: 0 0 25px;
    transition: all 0.3s ease;
}
.contact-section .input-group .input-control{
    height: 45px;
    display: block;
    width: 100%;
    border-radius: 30px;
    border: 3px solid var(--bg-black-100);
    box-shadow: var(--box-shadow);
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    color: var(--text-black-700);
}
.contact-section .input-group textarea.input-control{
    height: 184px;
    padding-top: 15px;
    resize: none;
}
.contact-section .submit-btn{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: right;
    padding: 0 15px;
}
/*contact section end*/
footer{
    text-align: center;
    color: var(--bg-black-900);
}
footer .btn1{
    padding: 5px 10px;
}
/*keyframes*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes loaderAni{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
}